<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanqiao.rbac.repository.AccountMapper">
  <resultMap id="BaseResultMap" type="org.lanqiao.rbac.entity.Account">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_profile_id" jdbcType="INTEGER" property="userProfileId" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>

  <resultMap id="UserResultMap" type="org.lanqiao.rbac.dto.UserDto">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="account" jdbcType="VARCHAR" property="account"/>
    <result column="password" jdbcType="VARCHAR" property="password"/>
    <association property="userProfile" javaType="org.lanqiao.rbac.entity.UserProfile">
      <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
      <result column="real_name" jdbcType="VARCHAR" property="realName"/>
      <result column="gender" jdbcType="BIT" property="gender"/>
    </association>
  </resultMap>

  <!--<resultMap id="UserInfoResultMap" type="org.lanqiao.rbac.dto.UserDto">-->
    <!--<id column="id" jdbcType="INTEGER" property="id" />-->
    <!--<result column="account" jdbcType="VARCHAR" property="account" />-->
    <!--<result column="password" jdbcType="VARCHAR" property="password" />-->
    <!--<association property="userProfile" javaType="org.lanqiao.rbac.entity.UserProfile" >-->
      <!--<result column="nick_name" jdbcType="VARCHAR" property="nickName" />-->
      <!--<result column="real_name" jdbcType="VARCHAR" property="realName" />-->
      <!--<result column="gender" jdbcType="BIT" property="gender" />-->
    <!--</association>-->
  <!--</resultMap>-->

  <select id="selectPermissionsById" parameterType="int" resultType="string">
    select menu.url
    FROM rbac_account acc  JOIN rbac_user_profile pro ON acc.user_profile_id=pro.id
     JOIN rbac_user_role userrole ON pro.id=userrole.user_id
     JOIN rbac_role role ON userrole.role_id=role.id
     JOIN rbac_role_menu rolemenu ON  role.id=rolemenu.role_id
     JOIN rbac_menu menu ON rolemenu.menu_id=menu.id
    WHERE acc.id=#{param1}
  </select>
  <!--不要写分号-->
  <select id="selectUserInfo"  resultMap="UserResultMap">
    select a.id as id,
    a.account as account ,
    a.password as password,
    u.nick_name as nick_name,
    u.real_name as real_name,
    u.gender as gender
    from rbac_account a
    join rbac_user_profile u
    on a.user_profile_id = u.id
  </select>
</mapper>